/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

body {
  background: -o-radial-gradient(50% 50%, 85.48% 79.62%, #75BDFF 0%, #020065 100%);
  background: radial-gradient(85.48% 79.62% at 50% 50%, #75BDFF 0%, #020065 100%);
  overflow-x: hidden;
}

.winner-list-text-elem {
    font-weight: 600;
    font-size: 130%;
    color: #FFFFFF;
    text-shadow: -1px -1px 3px rgb(0 0 0 / 34%);
    white-space: nowrap;
}

@media only screen and (max-width: 350px) {
    .username-cont {
        display: none;
    }
}

.loading-spinner {
    width: 7rem!important;
    height: 7rem!important;
}

.list-element {
    background: -webkit-gradient(linear, left top, left bottom, from(#62B5F0), to(#046EBA));
    background: -o-linear-gradient(top, #62B5F0 0%, #046EBA 100%);
    background: linear-gradient(180deg, #62B5F0 0%, #046EBA 100%);
    -webkit-box-shadow: 1px 3px 3px rgba(16, 46, 131, 0.5);
            box-shadow: 1px 3px 3px rgba(16, 46, 131, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 85px;
}

.winners-container {
    background: -webkit-gradient(linear, left top, left bottom, from(#3598DF), to(#006BB8));
    background: -o-linear-gradient(top, #3598DF 0%, #006BB8 100%);
    background: linear-gradient(180deg, #3598DF 0%, #006BB8 100%);
    -webkit-box-shadow: inset 1px 5px 4px #1B379F;
            box-shadow: inset 1px 5px 4px #1B379F;
    border-radius: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.winners-title {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-group-element {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(#8B0000), to(#8B0000));
    background: -o-linear-gradient(#8B0000, #8B0000);
    background: linear-gradient(#8B0000, #8B0000);
    -webkit-box-shadow: inset 0px 2px 2px #400000;
            box-shadow: inset 0px 2px 2px #400000;
    border-radius: 10px;
    margin: 3px;
    border: solid 3px #FFCD7E;
    text-align: center;
    line-height: 2vh;
    width: 30%;
}

.myLayout {
    overflow:hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    bottom:0;
    left:0;
    right:0
}

  .winner-text {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.auth-container {
    height: 100vh;
}

.mdb-container {
    max-width: 500px;
}

.info-group-element {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -o-linear-gradient(122.32deg, #588DD8 -2.66%, #324FA5 80.63%);
    background: linear-gradient(327.68deg, #588DD8 -2.66%, #324FA5 80.63%);
    -webkit-box-shadow: inset 0px 2px 2px #400000;
            box-shadow: inset 0px 2px 2px #400000;
    border-radius: 10px;
    margin: 3px;
    border: solid 3px #FFCD7E;
    text-align: center;
    width: 30%;
  }

.info-group-text {
    font-family: 'Luckiest Guy';
    font-weight: 400;
    font-size: 2.1vh;
    line-height: .7vh;
    text-align: center;
    letter-spacing: 1px;
    color: #FAC269;
    text-shadow: -1px -1px 0px #B46E00;
    vertical-align: middle;
    padding: 10px 0;
  }

.my-container {
    min-width: 40vw;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    aspect-ratio: 1 / 1;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11.29%, #3496DF), color-stop(94.98%, #016CB9));
    background: -o-linear-gradient(top, #3496DF 11.29%, #016CB9 94.98%);
    background: linear-gradient(180deg, #3496DF 11.29%, #016CB9 94.98%);
    -webkit-box-shadow: inset 1px 5px 4px #1B379F;
            box-shadow: inset 1px 5px 4px #1B379F;
    border-radius: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

.bhdLno {
    z-index: 0 !important;
    width: 92% !important;
    aspect-ratio: 1/1 !important;
    top: 0.4vh !important;
    -webkit-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
            transform: rotate(-45deg) !important;
    max-width: unset !important;
    height: auto !important;
    max-height: unset !important;
  }

img[alt~="roulette-static"] {
    position: relative;
    z-index: 1;
    width: 7%;
    right: -30%;
    margin-top: 13%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    content: url("../images/wheel-pointer 1.svg"); 
}

.main-title {
    top: 5vh;
    font-family: 'Luckiest Guy';
    font-weight: 400;
    line-height: 4vh;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app-container {
    overflow: hidden;
}

.winner-list {
    overflow-x: hidden;
}


@media only screen and (max-width: 768px) {
    html {
        display: block;
    }
    .app-subcontainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
  }
@media only screen and (min-width: 769px) {
    .app-subcontainer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    html {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
  }

.note {
    max-width: 238px;
}

img.user-picture {
    width: 50px;
    height: 50px;
}

.gTLZXx {
    top: 0px !important;
}
