<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url "social:begin" "VKOAuth2" %}">Google+</a>
    <a href="/login/vk-oauth2"><img src="/static/lvk.png" class="avatar-3" data-toggle="tooltip" title="'Login via VKontakte'"></a>

    {{user.username}}, {{balance}}
    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}
    <form method="post">
        <input type="hidden" name="action" value="make_spin">
        {% csrf_token %}
        <button type="submit">button</button>
    </form>
    <ul>
        {% for winner in winners %}
        <li>{{winner.winner}}, {{winner.winning_amount}}, {{winner.win_date}}</li>
        {% endfor %}
    </ul>
</body>
</html>